body {
    margin: 0;
    font-family: sans-serif;
}

article {
    display: flex;
    flex-direction: column;
}

header, section {
    flex: 50vw;
    min-height: 200px;
}

header, section, nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: rgb(158, 255, 119);
    flex: 1 50px;
}

header {
    background-color: rgb(90, 255, 247);
}

main {
    background-color: rgb(195, 195, 195);
    padding: 1rem;
}

#sign-up {
    background-color: rgb(183, 199, 255);
}

#feature-1 {
    background-color: rgb(255, 203, 106);
}

#feature-2 {
    background-color: rgb(255, 152, 255);
}

#feature-3 {
    background-color: rgb(255, 160, 160);
}

@media screen and (min-width: 500px) and (max-width: 899px) {
    article {
        flex-flow: row wrap;
    }
    nav {
        flex: 100%;
        min-height: 50px;
    }
    section { 
        height: 50vw;
    }
}

@media screen and (min-width: 900px) {
    article {
        flex-flow: row wrap;
    }
    nav {
        flex: 100%;
        min-height: 50px;
    }
    #sign-up {
        order: 1;
        max-height: 150px;
    }
    .feature {
        flex: calc(100vw / 3);
        min-height: calc(1.1*100vw/3);
    }
    main {
        order: 2;
    }
    header {
        flex: 100vw;
    }
}